body{
}
.bg{
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: #1c891b; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #1c891b 0%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#1c891b), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #1c891b 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #1c891b 0%,#000000 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #1c891b 0%,#000000 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #1c891b 0%,#000000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c891b', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	animation: back-animate 5s linear infinite;
	-webkit-animation: back-animate 5s linear infinite;
	-moz-animation: back-animate 5s linear infinite;
}
.wrapper{
	position: absolute;
	width: 300px;
	height: 360px;
	top: 50%;
	left: 50%;
	margin-top: -180px;
	margin-left: -110px;
}
.main-circle{
	width: 170px;
	height: 170px;
	border: 30px solid #000;
	border-radius: 50%;
	border-top: 0;
	border-left: 0;
	box-shadow: -6px -8px 10px #16aa1b inset, 6px 6px 6px 2px #16aa1b;
	position: absolute;
	z-index: 5;
}
.circle-one{
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	margin: -26px 0 0 -15px;
}
.circle-two{
	transform: rotate(-60deg);
	-webkit-transform: rotate(-60deg);
	-moz-transform: rotate(-60deg);
	margin: 142px 0 0 -112px;
}
.circle-three{
	transform: rotate(150deg);
	-webkit-transform: rotate(150deg);
	-moz-transform: rotate(150deg);
	margin: 142px 0 0 83px;
}
.hider{
	width: 38px;
	height: 125px;
	background: #000;
	position: absolute;
	margin: 157px 0 0 58px;
	border-radius: 50%;
	transform: rotate(5deg);
	-webkit-transform: rotate(5deg);
	-moz-transform: rotate(5deg);
	z-index: 10;
}
.hider:before{
	content: "";
	width: 100px;
	height: 22px;
	border-radius: 70% 50%;
	background: #000;
	position: absolute;
	margin: -4px 0 0 -60px;
	transform: rotate(29deg);
	-webkit-transform: rotate(29deg);
	-moz-transform: rotate(29deg);
}
.hider:after{
	content: "";
	width: 110px;
	height: 29px;
	border-radius: 50% 80%;
	background: #000;
	position: absolute;
	margin: -13px 0 0 0px;
	transform: rotate(-44deg);
	-webkit-transform: rotate(-44deg);
	-moz-transform: rotate(-44deg);
}
.bottom-circle{
	background: transparent;
	width: 150px;
	height: 150px;
	border: 10px solid #000;
	position: absolute;
	border-radius: 50%;
	margin: 100px 0 0 0px;
	box-shadow: 0 0 10px 5px #16aa1b, 0 0 10px 5px #16aa1b inset;
	z-index: 1;
}
.inner{
	width: 50px;
	height: 50px;
	background: #16aa1b; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #16aa1b 0%, #118418 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#16aa1b), color-stop(100%,#118418)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #16aa1b 0%,#118418 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #16aa1b 0%,#118418 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #16aa1b 0%,#118418 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #16aa1b 0%,#118418 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#16aa1b', endColorstr='#118418',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	position: absolute;
	z-index: 25;
	border-radius: 50%;
	margin: 160px 0 0 60px;
}
.vents{
	width: 10px;
	height: 18px;
	background: #16aa1b; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #16aa1b 0%, #118418 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#16aa1b), color-stop(100%,#118418)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #16aa1b 0%,#118418 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #16aa1b 0%,#118418 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #16aa1b 0%,#118418 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #16aa1b 0%,#118418 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#16aa1b', endColorstr='#118418',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	position: absolute;
	margin: 143px 0 0 80px;	
	z-index: 25;
}
.vents:before{
	content: "";
	width: 10px;
	height: 20px;
	background: #16aa1b;
	background: -moz-radial-gradient(center, ellipse cover, #16aa1b 0%, #118418 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#16aa1b), color-stop(100%,#118418));
	background: -webkit-radial-gradient(center, ellipse cover, #16aa1b 0%,#118418 100%);
	background: -o-radial-gradient(center, ellipse cover, #16aa1b 0%,#118418 100%);
	background: -ms-radial-gradient(center, ellipse cover, #16aa1b 0%,#118418 100%);
	background: radial-gradient(ellipse at center, #16aa1b 0%,#118418 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#16aa1b', endColorstr='#118418',GradientType=1 );
	position: absolute;
	z-index: 25;
	transform: rotate(120deg);
	-webkit-transform: rotate(120deg);
	-moz-transform: rotate(120deg);
	margin: 49px 30px;
}
.vents:after{
	content: "";
	width: 10px;
	height: 20px;
	background: #16aa1b;
	background: -moz-radial-gradient(center, ellipse cover, #16aa1b 0%, #118418 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#16aa1b), color-stop(100%,#118418));
	background: -webkit-radial-gradient(center, ellipse cover, #16aa1b 0%,#118418 100%);
	background: -o-radial-gradient(center, ellipse cover, #16aa1b 0%,#118418 100%);
	background: -ms-radial-gradient(center, ellipse cover, #16aa1b 0%,#118418 100%);
	background: radial-gradient(ellipse at center, #16aa1b 0%,#118418 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#16aa1b', endColorstr='#118418',GradientType=1 );
	position: absolute;
	z-index: 25;
	transform: rotate(240deg);
	-webkit-transform: rotate(240deg);
	-moz-transform: rotate(240deg);
	margin: 49px -29px;
}
@keyframes back-animate{
	0%{
		opacity: 1;
	}
	50%{
		opacity: 0.8;
	}
	100%{
		opacity: 1;
	}
}
@-webkit-keyframes back-animate{
	0%{
		opacity: 1;
	}
	50%{
		opacity: 0.8;
	}
	100%{
		opacity: 1;
	}
}
@-moz-keyframes back-animate{
	0%{
		opacity: 1;
	}
	50%{
		opacity: 0.8;
	}
	100%{
		opacity: 1;
	}
}
